<h1> Stupid Coaching <h1>

<form action="/answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>


<%= params[:question]%>
<p> -you </p>
<%= @answer%>
<p>- the coach </p>

<a href="ask">Ask a new question</a>
